*{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    align-content: center;
}
header{
    display: inline-flex;
    text-align: center;
}
.divcontainer{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-templates-rows: 100 px, auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Aplica 20px de espacio tanto horizontal como verticalmente */
}
.divprin{
    border-radius: 20px;
}
.divsec{
    display: inline-flex;
    text-align: center;
}
.asir{
    position: fixed;
    left: 0%;
    right: 85%;
    top:0%;
    bottom: 0%;
    background-color: white;
    color: black;
    margin: 3px;
    padding: 3px;
    font-size: smaller;
}
.asil{
    position: fixed;
    left: 85%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: white;
    color: black;
    margin: 3px;
    padding: 3px;
    font-size: smaller;
}
section{
    margin: 220px;
    display: grid;
    grid-template-colums: 250px, 1fr, 250px;
    gap: 20px;
    max: width;
    padding: 20px;
    box-sizeng: bordeer-box;
    left: 30px;
    right: 30px;
}
@media (max-width: 768px) {
    .contenedor-principal {
        /* Cambia a una sola columna en dispositivos móviles */
        grid-template-columns: 1fr;
    }

    /* Opcional: Reordenar elementos en celulares si deseas que 
       el contenido principal aparezca primero antes de los asides */
    .seccion-central {
        order: 1; /* El contenido central va primero */
    }
    .aside-izquierdo {
        order: 2;
    }
    .aside-derecho {
        order: 3;
    }
}

