*{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    align-content: center;
}
header{
    display: inline-flex;
    text-align: center;
}
.divprin{
    border-radius: 20px;
}
.divsec{
    display: inline-flex;
    text-align: center;
}
.asir{
    position: fixed;
    left: 0%;
    right: 85%;
    top:0%;
    bottom: 0%;
    background-color: white;
    color: black;
    margin: 3px;
    padding: 3px;
    font-size: smaller;
}
.asil{
    position: fixed;
    left: 85%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: white;
    color: black;
    margin: 3px;
    padding: 3px;
    font-size: smaller;
}
section{
    margin: 220px;
}
