*{
    color: black;
    text-align: center;
    border-radius: 20px;
    align-content: center;
    margin: 5px;
    padding: 5px;
    
}
body{
    display:contents;
    position: static;
    height: 30%;
    width: 30%;
}

.divprin{
    background-color: aquamarine;

}
.divsec{
    background-color: black;
    color: white;
}
button, select, option{
    width: 10%;
}
img{
    width: 15%;
    height: 15%;
}
.asir{
    font-size: smaller;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: black;
    ol, li, h2, h1{
        color: white;
    }
    
    position: fixed;
    top: 0%;
    right: 0%;
    left: 85%;
    bottom: 0%;;
}
.asil{
    font-size: smaller;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: black;
    ol, li, h2, h1{
        color: white;
    }
    position: fixed;
    top: 0%;
    right: 85%;
    left: 0%;
    bottom: 0%;;
}   
